:root {
  --black: #130f40;
  --white: #fff;
  --linear-gradient: linear-gradient(darkviolet, deeppink);
  --background: #ffffff1a;
  --box-shadow: 0 0.5rem 1rem #0000001a;
  --border: 0.1rem solid rgba(255, 255, 255, 0.1);
  --border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
  --border-left: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
.gradient-background {
  height: 100vh;
  width: 100%;
  background: var(--linear-gradient);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
section {
  min-height: 100vh;
}

.gradient-background .animated-area .animated-box {
  list-style: none;
}
.gradient-background .animated-area {
  width: 100vw;
  height: 100vh;
}
.gradient-background .animated-area li {
  position: absolute;
  background-color: #bdcccc;
  transform: translateY(-10rem);
}
.animated-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation: box 5s linear infinite;
  animation-delay: 3s;
  border-radius: 10%;
}
@keyframes box {
  0% {
    top: 100%;
  }
  25% {
    top: 20%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
    transform: rotate(360deg);
  }
}
.animated-area li:nth-child(2) {
  left: 56%;
  width: 110px;
  height: 110px;
  animation: mani 5s linear infinite;
  animation-delay: -0.5s;
  border-radius: 10%;
}
@keyframes mani {
  0% {
    bottom: 100%;
  }
  25% {
    bottom: 20%;
  }
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 0;
    transform: rotate(360deg);
  }
}
.animated-area li:nth-child(3) {
  left: 36%;
  width: 60px;
  height: 60px;
  animation: box 5s linear infinite;
  animation-delay: 1s;
  border-radius: 10%;
}
@keyframes box {
  0% {
    top: 100%;
  }
  25% {
    top: 20%;
    transform: rotate(270deg);
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
    transform: rotate(-180deg);
  }
}
.animated-area li:nth-child(4) {
  left: 10%;
  width: 45px;
  height: 45px;
  animation: mbox 8s linear infinite;
  animation-delay: 2s;
  border-radius: 50%;
}
@keyframes mbox {
  0% {
    top: 100%;
  }
  25% {
    top: 20%;
    left: 40%;
  }
  50% {
    top: 50%;
    left: 80%;
  }
  100% {
    top: 0;
    left: 90%;
    transform: rotate(-180deg);
  }
}
.animated-area li:nth-child(5) {
  left: 16%;
  width: 100px;
  height: 100px;
  animation: cbox 5s linear infinite;
  animation-delay: 1s;
  border-radius: 30%;
}
@keyframes cbox {
  0% {
    top: 100%;
  }
  100% {
    top: 20%;
    transform: rotate(270deg);
  }
}
.header {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background);
  border: var(--border);
  border-top: var(--border-top);
  border-left: var(--border-left);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  width: 95vw;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}
.header .logo {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.header .logo i {
  color: var(--black);
}
.header .navbar a {
  color: var(--white);
  margin: 1.7rem;
  font-size: 2rem;
}
.header .navbar a:hover {
  color: var(--black);
}
#menu-btn {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}
.home-component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 50vh;
  transform: translateY(-10%);
  transition: all 1.9s linear;
}
.home-component p {
  line-height: 2.2rem;
  font-size: 1.3rem;
  letter-spacing: 3.2px;
  max-width: 93rem;
  text-align: center;
  color: var(--white);
  padding-top: 1.7rem;
}
.home-component h2 {
  font-size: 5rem;
  letter-spacing: -2.5px;
}
.home-component .btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-top: 2.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 30%;
}
.home-component button:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
  background-color: #d6db8b;
}

.heading-primary {
  font-size: 3rem;
  color: #fff;
  margin-top: 4rem;
  display: inline-block;
  margin-left: 42%;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  background-color: #138aa8;
  border-radius: 30px;
}
.full-flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.flex-container {
  max-height: 62rem;
  max-width: 34rem;
  margin-left: 3rem;
  box-shadow: var(--box-shadow);
  background-color: #138aa8;
  border-radius: 2rem;
  opacity: 0.8;
}
.flex-items figure {
  max-width: 32rem;
  max-height: 32rem;
  overflow: hidden;
}
.flex-items figure img:hover {
  transform: scale(1.2);
  transition: all 0.3s linear;
}
.flex-items figure img {
  max-width: 32rem;
  max-height: 32rem;
}
.flex-items h3 {
  color: var(--white);
  /* margin-left: 5rem; */
  text-align: center;
  font-size: 2.5rem;
}
.flex-items p {
  max-width: 32rem;
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  line-height: 2rem;
}
.flex-items .btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 30%;
  margin-left: 9rem;
}
.flex-items .btn:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
  background-color: #d6db8b;
}
.flex-items div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.flex-items div a {
  color: white;
  font-size: 1.3rem;
}
.flex-items div a:hover {
  color: var(--black);
}
.grid-items {
  max-width: 29rem;
  max-height: 61rem;
  background-color: #138aa8;
  border-radius: 2rem;
  opacity: 0.8;
  margin-left: 2rem;
}
.grid-items img {
  max-height: 22rem;
  max-width: 22rem;
  clip-path: circle(30.8% at 50% 50%);
  margin-left: 2rem;
}
.grid-items h3 {
  font-size: 2.5rem;
  color: #fff;
  margin-left: -2rem;
  text-align: center;
}
.grid-items p {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}
.grid-items ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  column-gap: 1rem;
}
.social-icon:hover {
  background-color: black;
  color: #fff;
  transition: all 0.2s linear;
}
.social-icon {
  color: #fff;
  display: inline-block;
  font-size: 4rem;
  box-shadow: var(--box-shadow);
  background-color: var(--background);
  padding: 1rem;
  border-radius: 2rem;
}
.flex-plan {
  max-width: 28rem;
  max-height: 90rem;
  box-shadow: var(--box-shadow);
  background-color: #138aa8;
  opacity: 0.8;
  border-radius: 3rem;
  margin-left: 2rem;
}
.flex-plan h1 {
  font-size: 13rem;
  color: #fff;
  text-align: center;
}
.flex-plan h2 {
  color: black;
  font-size: 3rem;
  text-align: center;
  background-color: #ffffffb2;
  margin-bottom: 3rem;
  margin-top: -3rem;
}
.flex-plan ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  list-style: none;
  padding-bottom: 1rem;
}
.flex-plan ul li {
  font-size: 1.5rem;
  color: #fff;
}
.flex-plan button {
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 30%;
  margin-left: 6rem;
}
.flex-plan button:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
  background-color: #d6db8b;
}
.price-icon {
  font-size: 4rem;
}
.plan .btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 30%;
  margin-left: 50rem;
  margin-bottom: 3rem;
  box-shadow: var(--box-shadow);
}
.plan .btn:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
  background-color: #d6db8b;
}
.rew {
  transform: translateX(-19%);
}
.flex-container-rewiew {
  max-height: 39rem;
  max-width: 32rem;
  background-color: #138aa8;
  opacity: 0.8;
  box-shadow: var(--box-shadow);
  border-radius: 3rem;
  margin-left: 2rem;
}
.flex-container-rewiew img {
  border-radius: 3rem;
  box-shadow: var(--box-shadow);
  max-height: 14rem;
  max-width: 14rem;
  margin-left: 8.4rem;
}
.flex-container-rewiew h2 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.flex-container-rewiew p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: center;
}
.flex-container-rewiew p:nth-child(3) {
  color: black;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
.flex-container-rewiew ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.flex-container-rewiew ul li {
  font-size: 4rem;
}
#contact {
  min-height: 150vh;
}
.contact-flex {
  max-width: 40rem;
  max-height: 55rem;
  background-color: #138aa8;
  opacity: 0.8;
  box-shadow: var(--box-shadow);
  margin-left: 32vw;
  margin-top: 10vh;
  padding: 2rem;
  border-radius: 3rem;
  position: absolute;
}
.contact-flex form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3rem;
  margin: 2rem;
}
.contact-flex form input,
.contact-flex form textarea {
  color: #000;
  border-radius: 1.5rem;
  font-size: 2rem;
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}
.contact-flex form input {
  height: 35px;
}
.contact-flex form button {
  display: inline-block;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
  left: 2%;
  border-radius: 2rem;
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}
.contact-flex form button:hover {
  box-shadow: 0 8px 6px -6px black;
  color: green;
}
@media (max-width: 991px) {
  html {
    font-size: 52%;
  }
  .plan .btn {
    margin-bottom: 0rem;
    margin-left: 35rem;
    box-shadow: var(--box-shadow);
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  #menu-btn {
    display: initial;
    transition: 0.2sec linear;
  }
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 115%;
    left: 0;
    right: 0;
    background: var(--linear-gradient);
    border-radius: 0.5rem;
    transition: 0.3s linear;
    padding: 0.5rem 1.5rem;
    clip-path: circle(0%);
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    background: var(--background);
    border-radius: 0.5rem;
    margin: 1.2rem 0;
    padding: 1.5rem;
    border: var(--border);
    border-top: var(--border-top);
    border-left: var(--border-left);
    box-shadow: var(--box-shadow);
  }
  .flex-items h3 {
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
  }
  .plan .btn {
    margin-bottom: 0rem;
    margin-left: 35rem;
    box-shadow: var(--box-shadow);
  }
}
@media (max-width: 687px) {
  html {
    font-size: 44%;
  }
}
@media (max-width: 615px) {
  .full-flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .home-component h2 {
    text-align: center;
    width: 50rem;
  }
  .home-component p {
    width: 45rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
